.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  min-height: 85vh;
  width: 90vw;
  border: 1px solid #000;
  background-color: rgba(17, 39, 35, 100%);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.colorBox {
  border: 1px solid #ffff;
  color: #ffff;
  padding: 1rem;
}

.buttons {
  /*  border: 1px solid #000; */
  /* height: 25vh;
  width: 40vw; */
  display: grid;
  grid-template-columns: auto auto;
  gap: 3rem;
}

.red,
.blue,
.green,
.gold,
.pink,
.orange,
.black {
  color: aliceblue;
}

.red {
  background: #ff0000;
}

.blue {
  background: #001aff;
}

.green {
  background: #159800;
}

.gold {
  background: #d1bc00;
}

.pink {
  background: #ff0099;
}

.orange {
  background: #d34c00;
}

.black {
  background: #000000;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
  .buttons {
    grid-template-columns: auto auto auto auto;
  }
}
